dist-newstyle/
.cabal-sandbox/
cabal.sandbox.config
*.o
*.hi
*.dyn_o
*.dyn_hi
*.prof
*.hp
*.eventlog
.ghc.environment.*
cabal.project.local
cabal.project.local~
.HTF/
.hpc
.hsenv
.local/
*.swp
*~
_bin/
firebase-debug.log
cabal.project.freeze
